<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">Dashboard Menu</h3>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column">
      <% if is_admin? %>
        <a href="<%= users_dashboard_index_path %>" class="nav-link <%= active_sidebar('users') %>">
          <i class="fa fa-users"></i> Users
        </a>

        <a href="<%= services_dashboard_index_path %>" class="nav-link <%= active_sidebar('services') %>">
          <i class="fa fa-gears"></i> Services
        </a>

        <a href="<%= addons_dashboard_index_path %>" class="nav-link <%= active_sidebar('addons') %>">
          <i class="fa fa-plus-circle"></i> Addons
        </a>
      <% end %>
      <% if is_celebrity? || is_talent? %>
        <a href="<%= listings_dashboard_index_path %>" class="nav-link <%= active_sidebar('listings') %>">
          <i class="fa fa-database"></i> Listings
        </a>
      <% end %>
      <a href="javascript:void(0)" class="nav-link <%= active_sidebar('orders') %>">
        <i class="fa fa-shopping-cart"></i> Orders
      </a>
    </ul>
  </div>
</div>