<div class="box">
  <h1>
    Services
  </h1>
  <p class="lead">Your orders on one place.</p>
  <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
  <hr>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
          <th># <%= service.id %></th>
          <td><%= service.title %></td>
          <td><%= service.description %></td>
          <td>
            <% if service.image.attached? %>
              <%= image_tag service.image.variant(resize: '50x50'), class: 'img-fluid' %>
            <% end %>
          </td>

          <td>
            <%= link_to edit_service_path(service) do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to service_path(service) do %>
              <i class="fa fa-search-plus"></i>
            <% end %>
            <% if service.can_destroy? %>
              <%= link_to service_path(service), data: { confirm: 'Are you sure?' }, method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
