<div class="box">
  <h2>User account</h2>
  <p><%= @profile.about_me %></p>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <h4><i class="fa fa-"></i>Details</h4>
      <p>
        <%= @profile.full_name %>
        <br>
        <%= @profile.gender %>
        <br>
        <%= @profile.date_of_birth %>
      </p>
    </div>

    <div class="col-md-4">
      <h4><i class="fa fa-phone"></i> Contact</h4>
      <p>
        <strong><%= @profile.mobile_no %></strong>
        <br>
        <%= @user.email %>
      </p>
    </div>

    <div class="col-md-4">
      <h4><i class="fa fa-coffee"></i> Social</h4>
      <p>
        <i class="fa fa-facebook"></i> <%= @profile.fb_link %>
        <br>
        <i class="fa fa-twitter"></i> <%= @profile.twitter_link %>
        <br>
        <i class="fa fa-instagram"></i> <%= @profile.insta_link %>
      </p>
    </div>
  </div>
</div>

<div class="row products">
  <div class="col-12">
    <h2>User Listings</h2>
  </div>
  <% @listings.each do |listing| %>
    <%= render 'listings/listing', listing: listing %>
  <% end %>
</div>
