<header class="header mb-5">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="<%= root_path %>" class="navbar-brand home">
        <%= image_tag 'logo.png', class: 'd-none d-md-inline-block', alt: 'Bigshoutz Logo' %>
        <span class="sr-only">Bigshoutz - go to homepage</span>
      </a>

      <div class="navbar-buttons">
        <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-align-justify"></i>
        </button>
        <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-search"></i>
        </button>
        <a href="basket.html" class="btn btn-outline-secondary navbar-toggler">
          <i class="fa fa-shopping-cart"></i>
        </a>
      </div>

      <div id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="<%= root_path %>" class="nav-link active">Home</a></li>
          <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Account<b class="caret"></b></a>
            <ul class="dropdown-menu megamenu">
              <% unless current_user %>
                <li class="nav-item">
                  <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
                </li>
                <% User::CUSTOMER_TYPES.each do |c_type| %>
                  <li class="nav-item">
                    <%= link_to "Register as a #{c_type.capitalize}", new_user_registration_path(t: c_type), class: 'nav-link' %>
                  </li>
                <% end %>
              <% end %>

              <% if current_user %>
                <li class="nav-item">
                  <%= link_to 'Profile', profile_path(current_user.profile) %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Dashboard', dashboard_path %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
                </li>
              <% end %>
            </ul>
          </li>

          <!-- TODO: Services will be a navbar -->
          <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Services<b class="caret"></b></a>
            <ul class="dropdown-menu megamenu">
              <% 3.times do |i| %>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Service <%= i %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <div class="navbar-buttons d-flex justify-content-end">
          <div id="search-not-mobile" class="navbar-collapse collapse"></div>
          <a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block">
            <span class="sr-only">Toggle search</span>
            <i class="fa fa-search"></i>
          </a>
          <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block">
            <a href="basket.html" class="btn btn-primary navbar-btn">
              <i class="fa fa-shopping-cart"></i>
              <span>0 items in cart</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="search" class="collapse">
    <div class="container">
      <form role="search" class="ml-auto">
        <div class="input-group">
          <input type="text" placeholder="Search" class="form-control">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>