<%= f.fields_for :line_items do |l| %>
  <% line_item = l.object %>
  <% line_item_able = line_item.line_item_able %>

  <% if line_item_able.is_a?(Listing) %>
    <tr>
      <td>
        <% if line_item_able.has_video? %>
          <%= image_tag line_item_able.videos.sample.preview(resize_to_limit: [50, 50]) %>
        <% else %>
          <% image = line_item_able.images.sample %>
          <% if image %>
            <a href="<%= listing_path(line_item_able) %>">
              <%= image_tag image.variant(resize_to_limit: [50, 50]), class: 'img-fluid' %>
            </a>
          <% end %>
        <% end %>
      </td>
      <td>
        <a href="<%= listing_path(line_item_able) %>">
          <%= line_item_able.name %>
        </a>
      </td>
      <td>
        <%= l.number_field :quantity, class: 'form-control', min: 1 %>
      </td>
      <td><%= number_to_currency(line_item_able.price) %></td>
      <td>0.00</td>
      <td><%= number_to_currency(line_item.total_price) %></td>
      <td>
        <%= link_to line_item_path(line_item), method: :delete, remote: true do %>
          <i class="fa fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        <% image = line_item_able.image %>
        <% if image.attached? %>
          <a href="javascript:void(0)">
            <%= image_tag image.variant(resize_to_limit: [50, 50]), class: 'img-fluid' %>
          </a>
        <% end %>
      <td>
        <%= line_item_able.name %> for <a href="<%= listing_path(line_item.addon_for_listing_id) %>">
          <%= Listing.find(line_item.addon_for_listing_id).name %>
        </a>
      </td>
      <td>
        <%= l.number_field :quantity, class: 'form-control', min: 1 %>
      </td>
      <td><%= number_to_currency(line_item_able.price) %></td>
      <td>0.00</td>
      <td><%= number_to_currency(line_item.total_price) %></td>
      <td>
        <%= link_to line_item_path(line_item), method: :delete, remote: true do %>
          <i class="fa fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
